$purple: #816AAE;
$medium-purple: #795DB0;
$dark-purple: #6848A5;
$darker-purple: #59359D;
$green: #6848A5;
$dark-green: #008C5B;
$orange: #FEB54F;
$dark-orange: #D28F31;
$brown: #865106;
$black: #454545;
$gray: #A6A6A6;
$light-gray: #EEEEEE;
